@model pruevas_de_a_5.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom_producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom_producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Elaboracio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Elaboracio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Caducidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Caducidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodProveedor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Cod_producto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
